@{
    ViewBag.Title = "Index";
}
<script src="~/Content/JS/jquery.min1.11.js"></script>
<script src="~/Content/JS/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
<script src="~/Content/JS/jquery-easyui-1.4.5/easyloader.js"></script>



<script type="text/javascript">
    $(function () {
        $('#table').delegate('td span input', 'keyup', function (e) {
            console.profile('test')
            var $tr = $(this).parents('tr');
            var $b = $tr.find('b')
            var ji = 1;
            $tr.find('input[class="textbox-text validatebox-text"]').each(function (index, item) {
                ji = parseInt($(item).val()) * ji;
            });
            $b.html(ji);
            console.profileEnd('text');
        });
    })

    function calc(obj, val) {
        var $input = $($(obj).parent().parent().find("input").eq(0));
        var tbVal = parseInt($input.val());
        $input.val(tbVal + val);
    }
</script>
<div>

    @using(Html.BeginForm("Index", "Home", FormMethod.Post)){

    <table id="table">
        <tr>
            <td>
                单价：<input class="easyui-textbox" value="0" />
            </td>
            <td>
                <input type="button" onclick="calc(this, 1)" value="+" />
                <input type="button" onclick=" calc(this, -1)" value="-" />
            </td>
            <td>
                数量：<input class="easyui-textbox" value="0" />
                总价：<b></b>
            </td>
        </tr>
        <tr>
            <td>
                单价：<input class="easyui-textbox" value="0" />
            </td>
            <td>
                <input type="button" onclick="calc(this, 1)" value="+" />
                <input type="button" onclick="calc(this, -1)" value="-" />
            </td>
            <td>
                数量：<input class="easyui-textbox" value="0" />
                总价：
                <b></b>
            </td>
        </tr>
        <tr>
            <td>
                单价：<input class="easyui-textbox" value="0" />
            </td>
            <td>
                <input type="button" onclick="calc(this, 1)" value="+" />
                <input type="button" onclick="calc(this, -1)" value="-" />
            </td>
            <td>
                数量：<input class="easyui-textbox" value="0" />
                总价：
                <b></b>
            </td>
        </tr>
    </table>

    }
</div>
