@{
    ViewBag.Title = "Index";
}
<script src="~/Content/JS/jquery.min1.11.js"></script>
<script src="~/Content/JS/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
<script src="~/Content/JS/jquery-easyui-1.4.5/easyloader.js"></script>



<script type="text/javascript">

    //var name = "the name";
    //var object = {

    //    name: "xj",

    //    myfunc: function () {
    //       // alert(this.name);
    //        return test = function () {
    //            return this.name;
    //        }
    //        // alert(test());
    //    }
    //};

    // alert(object.myfunc()());
    //$(function () {
    //    $('#table').delegate('td span input', 'keyup', function (e) {
    //        console.profile('test')
    //        var $tr = $(this).parents('tr');
    //        var $b = $tr.find('b')
    //        var ji = 1;
    //        $tr.find('input[class="textbox-text validatebox-text"]').each(function (index, item) {
    //            ji = parseInt($(item).val()) * ji;
    //        });
    //        $b.html(ji);
    //        console.profileEnd('text');
    //    });
    //})




    //function calc(obj, val) {
    //    var $input = $($(obj).parent().parent().find("input").eq(0));
    //    var tbVal = parseInt($input.val());
    //    $input.val(tbVal + val);
    //}


    $(function () {
        console.log(11);

        var a = '无';
        console.log(a.length);

        $('#tables a').bind('click', function (e) {
            //alert($(this).attr('uid'));
            alert($("#tables tr").index());
        });

        var ss = $("a[name='abc']");
        console.log(ss);
        ss.each(function (i, c) {
            // alert(i);
            console.log(c);
        })
    });
    window.onload = function () { console.log(222); }
</script>
<div>

    <table id="tables">
        <tr>
            <td><a name="abc" uid="11">111</a><input type="checkbox"> </td>
        </tr>
        <tr>
            <td><a name="abc" uid="22">1222</a><input type="checkbox" /></td>
        </tr>
        <tr>
            <td><a name="abc" uid="33">13333</a><input type="checkbox" /></td>
        </tr>
    </table>




    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {

        <table id="table">
            <tr>
                <td>
                    单价：<input class="easyui-textbox" value="0" />
                </td>
                <td>
                    <input type="button" onclick="calc(this, 1)" value="+" />
                    <input type="button" onclick="calc(this, -1)" value="-" />
                </td>
                <td>
                    数量：<input class="easyui-textbox" value="0" />
                    总价：<b></b>
                </td>
            </tr>
            <tr>
                <td>
                    单价：<input class="easyui-textbox" value="0" />
                </td>
                <td>
                    <input type="button" onclick="calc(this, 1)" value="+" />
                    <input type="button" onclick="calc(this, -1)" value="-" />
                </td>
                <td>
                    数量：<input class="easyui-textbox" value="0" />
                    总价：
                    <b></b>
                </td>
            </tr>
            <tr>
                <td>
                    单价：<input class="easyui-textbox" value="0" />
                </td>
                <td>
                    <input type="button" onclick="calc(this, 1)" value="+" />
                    <input type="button" onclick="calc(this, -1)" value="-" />
                </td>
                <td>
                    数量：<input class="easyui-textbox" value="0" />
                    总价：
                    <b></b>
                </td>
            </tr>
        </table>

    }
</div>
